PORT=3000
CLIENT_URL=http://localhost:5173
NODE_ENV=development

ACCESS_TOKEN_SECRET=your-access-token-secret
REFRESH_TOKEN_SECRET=your-refresh-token-secret

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=sport_field_booking
DB_SYNCHRONIZE=false
DB_LOGGING=false
DB_SSL=false
